{
  "strict": false,
  "value": "{\n  \"id\": \"574f0791-beca-4470-8037-050660cfb73a\",\n  \"exportConfigId\": \"e91d44e4-ae4f-401a-b355-3ea44f57a628\",\n  \"username\": \"jsmith\",\n  \"password\": \"letmein\",\n  \"metadata\": {\n    \"createdDate\": \"2020-01-28T00:12:04.000+0000\",\n    \"createdByUserId\": \"28d1057c-d137-11e8-a8d5-f2801f1b9fd1\"\n  }\n}\n"
}