{
  "strict": false,
  "value": "{\n  \"id\": \"3e3a52b2-9097-49ad-8ff1-8135af0db573\",\n  \"batchGroupId\": \"e91d44e4-ae4f-401a-b355-3ea44f57a628\",\n  \"startTime\": \"00:00\",\n  \"weekdays\": [ \"Monday\", \"Wednesday\" ],\n  \"enableScheduledExport\": true,\n  \"format\": \"Application/xml\",\n  \"uploadURI\": \"ftp.amherst-lib.edu\",\n  \"uploadDirectory\": \"/files/invoices\",\n  \"ftpFormat\": \"SFTP\",\n  \"ftpPort\": 22,\n  \"metadata\": {\n    \"createdDate\": \"2020-01-28T00:12:04.000+0000\",\n    \"createdByUserId\": \"28d1057c-d137-11e8-a8d5-f2801f1b9fd1\"\n  }\n}\n"
}