{
  "budgetExpenseClassTotals": [
    {
      "expenseClassName": "Electronic",
      "expenseClassCode": "Elec",
      "expenseClassStatus": "Active",
      "encumbered": "30.05",
      "awaitingPayment": "0.0",
      "expended": "103.0",
      "percentageExpended": "51.5"
    }
  ],
  "totalRecords": 1
}
