{
  "id": "47ac60b4-159d-4e1c-9acb-8293df67d16d",
  "name": "History 2017",
  "budgetStatus": "Active",
  "allowableEncumbrance": 95,
  "allowableExpenditure": 100,
  "allocated": 20000,
  "awaitingPayment": 3500,
  "available": 10000,
  "encumbered": 2000,
  "expenditures": 4500,
  "unavailable": 10000,
  "overEncumbrance": 0,
  "overExpended": 0,
  "fundId": "172364c7-aaaa-10c2-b12c-e35ceccbfaf2",
  "fiscalYearId": "ac2164c7-ba3d-2bc2-a12c-e35ceccbfaf2",
  "acqUnitIds": [
    "7ec2ed06-0504-40dc-bc53-7515955ff0cb"
  ],
  "tags": {
    "tagList": [
      "important"
    ]
  },
  "statusExpenseClasses": [
    {
      "expenseClassId": "1bcc3247-99bf-4dca-9b0f-7bc51a2998c2",
      "status": "Active"
    }
  ],
  "metadata": {
    "createdDate": "2018-07-19T00:00:00.000+0000",
    "createdByUserId": "28d1057c-d137-11e8-a8d5-f2801f1b9fd1"
  }
}
