{
  "strict": false,
  "value": "{\n  \"id\": \"08e0eb27-b57f-4638-a703-9a2c57bd8708\",\n  \"value\": \"Accounting\",\n  \"metadata\": {\n      \"createdDate\": \"2018-05-19T00:00:00.000+0000\",\n      \"createdByUserId\": \"28d1057c-d137-11e8-a8d5-f2801f1b9fd1\"\n  }\n}\n"
}