{
  "strict": false,
  "value": {
    "id": "513eba26-081d-4566-b0eb-c6f2c8db5aab",
    "occurredDateTime": "2020-02-12T16:17:25Z",
    "itemId": "6acb77b5-53f5-4005-b5c2-8ce9c52fb891",
    "itemStatusPriorToCheckIn": "Checked out",
    "itemLocationId": "99ea6fc9-ed59-45b7-9ae8-1f851ea20208",
    "requestQueueSize": 2,
    "servicePointId": "b0c3c66c-6738-4a61-a51e-8ef354d43e3d",
    "performedByUserId": "f9246eac-ef6f-4043-885b-0325a1e3a9eb"
  }
}