{
  "strict": false,
  "value": {
    "logRecords": [
      {
        "eventId": "d194da0d-e946-440f-bba4-894a631ecfe9",
        "userBarcode": "1000024158",
        "items": [
          {
            "itemBarcode": "12983765",
            "itemId": "cb20f34f-b773-462f-a091-b233cc96b9e6",
            "instanceId": "30fcc8e7-a019-43f4-b642-2edc389f4501",
            "holdingId": "133a7916-f05e-4df4-8f7f-09eb2a7076d1",
            "loanId": "cf23adf0-61ba-4887-bf82-956c4aae2260"
          }
        ],
        "object": "Loan",
        "action": "Checked out",
        "date": "2020-08-12T12:21:21.123",
        "servicePointId": "7c5abc9f-f3d7-4856-b8d7-6712462ca007",
        "source": "Truesdale, Yanic",
        "description": "Checked out to proxy",
        "linkToIds": {
          "userId": "df7f4993-8c14-4a0f-ab63-93975ab01c76"
        }
      }
    ],
    "totalRecords": 1
  }
}