{
  "id": "7c0faed5-3ab6-4657-8179-fee651d6a569",
  "downloadTime": "2019-02-14T08:42:04.885+0000",
  "release": "4",
  "reportName": "JR1",
  "yearMonth": "2018-12",
  "providerId": "4b659cb9-e4bb-493d-ae30-5f5690c54802",
  "report": {
    "vendor": {
      "id": "SEM001",
      "name": "Semantico Ltd.",
      "contact": [
        {
          "email": "info@semantico.com",
          "contact": "tbc"
        }
      ],
      "logoUrl": "http://www.semantico.com/wp-content/themes/semantico/images/logo-new.png",
      "webSiteUrl": "http://www.semantico.com"
    },
    "created": "2019-02-11T12:35:45.066Z",
    "name": "Journal Report 1 (R4)",
    "id": "1549888545066",
    "title": "JR1:4",
    "version": "4",
    "customer": [
      {
        "id": "customer1234",
        "contact": [],
        "reportItems": [
          {
            "itemDate": [],
            "itemName": "19th-Century Music",
            "itemDataType": "JOURNAL",
            "itemPlatform": "Ithaka",
            "itemAttribute": [],
            "itemPublisher": "University of California Press",
            "itemIdentifier": [
              {
                "type": "ONLINE_ISSN",
                "value": "1533-8606"
              },
              {
                "type": "PRINT_ISSN",
                "value": "0148-2076"
              }
            ],
            "itemContributor": [],
            "itemPerformance": [
              {
                "period": {
                  "end": "2018-12-31",
                  "begin": "2018-12-01"
                },
                "category": "REQUESTS",
                "instance": [
                  {
                    "count": 5,
                    "metricType": "FT_HTML"
                  },
                  {
                    "count": 4,
                    "metricType": "FT_PDF"
                  },
                  {
                    "count": 9,
                    "metricType": "FT_TOTAL"
                  }
                ]
              }
            ]
          },
          {
            "itemDate": [],
            "itemName": "AA Files",
            "itemDataType": "JOURNAL",
            "itemPlatform": "Ithaka",
            "itemAttribute": [],
            "itemPublisher": "Architectural Association School of Architecture",
            "itemIdentifier": [
              {
                "type": "PRINT_ISSN",
                "value": "0261-6823"
              }
            ],
            "itemContributor": [],
            "itemPerformance": [
              {
                "period": {
                  "end": "2018-12-31",
                  "begin": "2018-12-01"
                },
                "category": "REQUESTS",
                "instance": [
                  {
                    "count": 5,
                    "metricType": "FT_HTML"
                  },
                  {
                    "count": 2,
                    "metricType": "FT_PDF"
                  },
                  {
                    "count": 7,
                    "metricType": "FT_TOTAL"
                  }
                ]
              }
            ]
          },
          {
            "itemDate": [],
            "itemName": "ABA Journal",
            "itemDataType": "JOURNAL",
            "itemPlatform": "Ithaka",
            "itemAttribute": [],
            "itemPublisher": "American Bar Association",
            "itemIdentifier": [
              {
                "type": "ONLINE_ISSN",
                "value": "2162-7983"
              },
              {
                "type": "PRINT_ISSN",
                "value": "0747-0088"
              }
            ],
            "itemContributor": [],
            "itemPerformance": [
              {
                "period": {
                  "end": "2018-12-31",
                  "begin": "2018-12-01"
                },
                "category": "REQUESTS",
                "instance": [
                  {
                    "count": 2,
                    "metricType": "FT_HTML"
                  },
                  {
                    "count": 2,
                    "metricType": "FT_PDF"
                  },
                  {
                    "count": 4,
                    "metricType": "FT_TOTAL"
                  }
                ]
              }
            ]
          }
        ],
        "institutionalIdentifier": []
      }
    ]
  },
  "reportEditedManually": true,
  "editReason": "reason for manually editing"
}
