{
  "profileAssociations": [
   {
     "id": "d79c0c7f-1dca-4523-b438-dd00a5a1f9a6",
     "masterProfileId": "4623d797-6987-46ed-925d-0e8c6fe6678a",
     "detailProfileId": "6146e173-c664-4404-9d58-c913d89e7114",
     "order": 0,
     "triggered": "false"
   }
  ],
  "totalRecords": 1
}
