{
  "id": "zx5thml9-6hnq-45n0-23c0-13n8gbkl7091",
  "description": "Marc file",
  "extension": ".marc",
  "dataTypes": [
    "MARC"
    ],
  "importBlocked": false,
  "userInfo": {
    "firstName": "DIKU",
    "lastName": "ADMINISTRATOR",
    "userName": "diku_admin"
  },
  "metadata": {
    "createdDate": "2019-01-01T11:550:09Z",
    "createdByUserId": "",
    "createdByUsername": "",
    "updatedDate": "2019-01-12T14:21:11Z",
    "updatedByUserId": "",
    "updatedByUsername": ""
  }
}
