{
  "id": "1kl9m60r-fvb7-45n0-23c0-13n8gbkl7091",
  "name": "MARC brief instance 1",
  "description": "Preliminary instance from CoolVendor MARC order record",
  "tags": {
    "tagList": [
      "cool-vendor"
    ]
  },
  "incomingRecordType": "MARC_BIBLIOGRAPHIC",
  "existingRecordType": "INSTANCE",
  "deleted": false,
  "userInfo": {
    "firstName": "Jane",
    "lastName": "Doe",
    "userName": "@janedoe"
  },
  "marcFieldProtectionSettings": [
    {
      "id": "2d706874-8a10-4d3e-a190-33c301d157e3",
      "field": "050",
      "indicator1": "",
      "indicator2": "",
      "subfield": "",
      "data": "*",
      "source": "USER",
      "override": true,
      "metadata": {
        "createdDate": "2020-08-13T14:44:07Z",
        "createdByUserId": "201e6a06-b60d-4618-bfcb-a551cbdc9f2f",
        "createdByUsername": "@janedoe",
        "updatedDate": "2020-08-13T14:44:07Z",
        "updatedByUserId": "201e6a06-b60d-4618-bfcb-a551cbdc9f2f",
        "updatedByUsername": "@janedoe"
      }
    },
    {
      "id": "82d0b904-f8b0-4cc2-b238-7d8cddef7b7e",
      "field": "700",
      "indicator1": "",
      "indicator2": "",
      "subfield": "*",
      "data": "*",
      "source": "USER",
      "override": false,
      "metadata": {
        "createdDate": "2020-08-13T14:44:07Z",
        "createdByUserId": "201e6a06-b60d-4618-bfcb-a551cbdc9f2f",
        "createdByUsername": "@janedoe",
        "updatedDate": "2020-08-13T14:44:07Z",
        "updatedByUserId": "201e6a06-b60d-4618-bfcb-a551cbdc9f2f",
        "updatedByUsername": "@janedoe"
      }
    }
  ],
  "parentProfiles": [
    {
      "id": "0fc0ba76-d560-4541-826f-f8bdd3b09841",
      "profileId": "dc4ac439-57ae-4779-872e-1892b163bb47",
      "contentType": "JOB_PROFILE",
      "content": {
        "id": "dc4ac439-57ae-4779-872e-1892b163bb47",
        "name": "Load vendor order records",
        "description": "Ordered on vendor site; load MARC to create bib, holdings, item, and order; keep MARC",
        "dataTypes": [
          "MARC"
        ],
        "tags": {
          "tagList": [
             "acq",
             "daily"
          ]
        }
      }
    }
  ],
  "childProfiles": [
    {
      "id": "0fc0ba76-d560-4541-826f-f8bdd3b09841",
      "profileId": "dc4ac439-57ae-4779-872e-1892b163bb47",
      "contentType": "JOB_PROFILE",
      "content": {
        "id": "dc4ac439-57ae-4779-872e-1892b163bb47",
        "name": "Load vendor order records",
        "description": "Ordered on vendor site; load MARC to create bib, holdings, item, and order; keep MARC",
        "dataTypes": [
          "MARC"
        ],
        "tags": {
          "tagList": [
             "acq",
             "daily"
          ]
        }
      }
    }
  ],
  "metadata": {
    "createdDate": "2019-01-01T11:550:09Z",
    "createdByUserId": "",
    "createdByUsername": "",
    "updatedDate": "2019-01-12T14:21:11Z",
    "updatedByUserId": "",
    "updatedByUsername": ""
  }
}
