{
    "id": "588b5c42-8634-4af7-bc9b-5e0116ed96b6",
    "value": "noreply@folio.org",
    "description": "Main",
    "metadata": {
        "createdDate": "2019-05-19T00:00:00.000+0000",
        "createdByUserId": "16d2357c-d137-11e8-a8d5-f2801f1b9fd1"
    }
}
