{
  "id": "99fb699a-cdf1-11e9-a9d9-f2801f1b9aa1",
  "exportType": "EDIFACT_ORDERS_EXPORT",
  "exportMethod": "EdifactExport",
  "exportFileName": "my_order.edi",
  "vendorId": "88fb699a-cdf1-11e9-88d9-f2801f188aa1",
  "vendorName": "Amazon",
  "jobName": "TestJob",
  "exportJobId": "22fb627a-cdf1-11e8-a8d5-f2801f1b9aa1",
  "exportDate": "2020-12-25",
  "exportedPoLineIds": [
    "11fb627a-cdf1-11e8-a8d5-f2801f1b9fd1",
    "11fb627a-cdf1-11e8-a8d5-f2801f1b9fd2",
    "11fb627a-cdf1-11e8-a8d5-f2801f1b9fd3",
    "11fb627a-cdf1-11e8-a8d5-f2801f1b9fd4"
  ]
}
