{
  "metadataSources": [
    {
      "id": "6dd325f8-b1d5-4568-a0d7-aecf6b8d6697",
      "label": "Cambridge University Press Journals"
    },
    {
      "id": "8ac1e1cf-5128-46b9-b57b-52bbfca7261b",
      "label": "Oxford Scholarship Online"
    }
  ],
  "totalRecords": 2
}
