{
  "fincConfigMetadataSources": [
    {
      "id": "6dd325f8-b1d5-4568-a0d7-aecf6b8d6697",
      "label": "Cambridge University Press Journals",
      "internalId": 1,
      "solrShard": "UBL main",
      "lastProcessed": "2018-06-14",
      "description": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.",
      "tickets": [
        "http://redmine.de/123",
        "http://redmine.de/456"
      ],
      "status": "implementation",
      "contacts": [
        {
          "type": "user",
          "externalId": "fcfaca0b-12e7-467e-b503-d44a44d60a62",
          "name": "Doe, John",
          "role": "librarian"
        },
        {
          "type": "contact",
          "externalId": "01771c0a-a890-4488-b5e9-366aa697bd93",
          "name": "Doe, Jane",
          "role": "vendor"
        }
      ]
    },
    {
      "id": "8ac1e1cf-5128-46b9-b57b-52bbfca7261b",
      "label": "Oxford Scholarship Online",
      "internalId": 2,
      "solrShard": "UBL ai",
      "lastProcessed": "2018-11-23",
      "description": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.",
      "organization": {
        "id": "uuid-1240",
        "name": "Oxford Scholarship Online"
      },
      "tickets": [
        "http://redmine.de/123",
        "http://redmine.de/456"
      ],
      "status": "implementation",
      "contacts": [
        {
          "type": "user",
          "externalId": "fcfaca0b-12e7-467e-b503-d44a44d60a62",
          "name": "Doe, John",
          "role": "librarian"
        },
        {
          "type": "contact",
          "externalId": "01771c0a-a890-4488-b5e9-366aa697bd93",
          "name": "Doe, Jane",
          "role": "vendor"
        }
      ]
    }
  ],
  "totalRecords": 2
}
