{
  "fincSelectFilters": [
    {
      "id": "084befb6-a264-4dd0-ade9-1aaae390c483",
      "label": "Holdings 1",
      "type": "Whitelist",
      "filterFiles": [
        {
          "label": "Holdings",
          "criteria": "Column: ISSN",
          "filename": "filterFile.txt",
          "fileId": "aa9202b7-754a-414a-8bf6-378df78e5985"
        }
      ],
      "isil": "DE-15"
    }
  ],
  "totalRecords": 1
}
