{
  "id": "6dd325f8-b1d5-4568-a0d7-aecf6b8d6123",
  "label": "21st Century COE Program",
  "description": "This is a test metadata collection",
  "mdSource": {
    "id": "6dd325f8-b1d5-4568-a0d7-aecf6b8d6697",
    "name": "Cambridge University Press Journals"
  },
  "metadataAvailable": "yes",
  "usageRestricted": "no",
  "permitted": "yes",
  "freeContent": "undetermined",
  "lod": {
    "publication": "yes",
    "note": "Note for test publication"
  },
  "collectionId": "coe-123",
  "solrMegaCollections": [
    "21st Century COE Program"
  ],
  "selected": "yes"
}
