{
  "metadataSources": [
    {
      "id": "6dd325f8-b1d5-4568-a0d7-aecf6b8d6697",
      "label": "Cambridge University Press Journals",
      "description": "This is a test metadata source",
      "status": "active",
      "contacts": [
        {
          "type": "user",
          "externalId": "fcfaca0b-12e7-467e-b503-d44a44d60a62",
          "name": "Doe, John",
          "role": "librarian"
        },
        {
          "type": "contact",
          "externalId": "01771c0a-a890-4488-b5e9-366aa697bd93",
          "name": "Doe, Jane",
          "role": "vendor"
        }
      ],
      "indexingLevel": "bibliographic",
      "generalNotes": "Test licensing note",
      "lastProcessed": "2018-01-01",
      "tickets": [
        "http://redmine.de/123",
        "http://redmine.de/456"
      ],
      "accessUrl": "http://access.url",
      "sourceId": 1,
      "solrShard": "UBL main",
      "deliveryMethods": [
          "API Download"
      ],
      "formats": [
        "csv"
      ],
      "updateRhythm": "monthly",
      "inferiorTo": [
        "uuid-789",
        "uuid-123"
      ],
      "selected": "all"
    }
  ],
  "totalRecords": 1
}
