{
  "credentials": [
    {
      "user": "user1",
      "password": "password1",
      "libId": "lib1",
      "isil": "DE-14",
      "id": "5da17580-5d30-4b75-aafb-1317bafad827"
    },
    {
      "user": "user2",
      "password": "password2",
      "libId": "lib2",
      "isil": "DE-15",
      "id": "5da17580-5d30-4b75-aafb-1317bafad828"
    }
  ],
  "totalRecords": 2
}