{
  "id": "d9cd0bed-1b49-4b5e-a7bd-064b8d177231",
  "name": "Fall Semester Due Date Schedule",
  "description": "An example fixed due date schedule",
  "schedules": [
    {
      "from": "2017-08-18T17:00:00Z",
      "to": "2017-12-14T17:00:00Z",
      "due": "2018-01-25T17:00:00Z"
    },
    {
      "from": "2018-08-17T17:00:00Z",
      "to": "2018-12-15T17:00:00Z",
      "due": "2018-01-23T17:00:00Z"
    }
  ]
}