{
  "strict": false,
  "value": "{\n  \"id\": \"6e2fbba3-d557-4480-bca3-b6f5c645de04\",\n  \"allocatedFromIds\": [\n    \"1a490199-833d-4876-b2ff-2bd61f8324f1\",\n    \"d69a001c-ac69-4348-bee1-f9f3ef8a3f32\"\n  ],\n  \"allocatedToIds\": [\n    \"c08a5b0c-6717-4788-9df5-b0e8338c1172\"\n  ],\n  \"code\": \"HIST\",\n  \"description\": \"Tracking fund for the History department\",\n  \"externalAccountNo\": \"1121112569489\",\n  \"fundStatus\": \"Active\",\n  \"fundTypeId\": \"c93373df-e7ec-4d31-b200-719736610d89\",\n  \"ledgerId\": \"7ebd02c8-2bd4-40ae-b44d-0e76dc197633\",\n  \"name\": \"History\",\n  \"acqUnitIds\": [\n    \"1895e539-8dac-441e-b1f5-aab62b3fde60\",\n    \"47f504bd-0c1b-498e-a2ae-e2f0a0cea273\"\n  ],\n  \"tags\": {\n    \"tagList\": [\n      \"tag\"\n    ]\n  },\n  \"metadata\": {\n    \"createdDate\": \"2020-07-19T10:00:00.000+0000\",\n    \"createdByUserId\": \"28d1057c-d137-11e8-a8d5-f2801f1b9fd1\"\n  }\n}\n"
}