{
  "strict": false,
  "value": "{\n  \"id\": \"f33ed99b-852a-4f90-9891-5efe0feab165\",\n  \"code\": \"HIST\",\n  \"description\": \"History is an umbrella term that relates to past events as well as the memory, discovery, collection, organization, presentation, and interpretation of information about these events.\",\n  \"name\": \"History\",\n  \"status\": \"Active\",\n  \"metadata\": {\n    \"createdDate\": \"2018-07-19T00:00:00.000+0000\",\n    \"createdByUserId\": \"28d1057c-d137-11e8-a8d5-f2801f1b9fd1\"\n  }\n}\n"
}