{
  "groupExpenseClassTotals": [
    {
      "id": "9e662186-7d3e-4732-baaa-93967ccc597e",
      "expenseClassName": "Electronic",
      "encumbered": "30.05",
      "awaitingPayment": "13.0",
      "expended": "103.0",
      "percentageExpended": "51.5"
    }

  ],
  "totalRecords": 1
}
