{
  "id": "465ce0b3-10cd-4da2-8848-db85b63a0a32",
  "personal": {
    "firstName": "Lienhardt",
    "lastName": "F\u00fchrer",
    "academicTitle": "Dr.",
    "dateOfBirth": "1994-04-22",
    "address": {
      "addressLine1": "Peter-Schmitter-Stra\u00dfe 83",
      "addressLine2": "F/8",
      "zipCode": "88453",
      "city": "Erolzheim",
      "country": "Germany"
    },
    "email": "lienhardtfuehrer@aol.com"
  },
  "libraryCard": "79254581",
  "uniLogin": "mhb76lxa",
  "status": "draft",
  "beginDate": "2018-01-12",
  "endDate": "2020-01-12",
  "comment": "A comment.",
  "metadata": {
    "createdDate": "2021-11-01T17:39:12.364+00:00",
    "updatedDate": "2021-11-01T17:39:12.364+00:00"
  }
}