{
  "strict": false,
  "value": "{\n  \"id\": \"2552dadb-aa4e-4d58-ad99-f09384a53018\",\n  \"username\": \"my_user\",\n  \"password\": \"my_password\",\n  \"interfaceId\" : \"588b5c42-8634-4af7-bc9b-5e0116ed96b6\"\n}\n"
}