{
  "invoiceLines": [
    {
      "id": "e0d08448-343b-118a-8c2f-4fb50248d672",
      "accountingCode": "0206",
      "accountNumber": "GOBI-HIST-12",
      "adjustments": [
        {
          "description":"Service Fee",
          "exportToAccounting" : false,
          "type":"Amount",
          "value":2.25,
          "prorate":"Not prorated",
          "relationToTotal":"In addition to"
        },
        {
          "description":"Shipping",
          "exportToAccounting" : false,
          "type":"Amount",
          "value":2.75,
          "prorate":"Not prorated",
          "relationToTotal":"In addition to"
        }
      ],
      "adjustmentsTotal": 5.00,
      "description": "Some description",
      "fundDistributions": [
        {
          "code": "USHIST",
          "encumbrance": "949c9e5d-2c7d-45d6-bd7f-8e82a0b27889",
          "fundId": "1d1574f1-9196-4a57-8d1f-3b2e4309eb81",
          "distributionType": "percentage",
          "value": 100
        }
      ],
      "poLineId": "e8971620-8ee4-4f3b-b5b5-93b864df16ed",
      "invoiceId": "c0d08448-347b-418a-8c2f-5fb50248d67e",
      "invoiceLineNumber": "123invoicenumber45-1",
      "invoiceLineStatus": "Open",
      "vendorRefNo": "2019-184",
      "productId": "9780764354113",
      "productIdType": "8261054f-be78-422d-bd51-4ed9f33c3422",
      "comment": "Sample invoice line",
      "quantity": 3,
      "releaseEncumbrance": true,
      "subscriptionInfo": "Subscription information",
      "subscriptionStart": "2018-08-01T00:00:00.000+0000",
      "subscriptionEnd": "2020-01-01T00:00:00.000+0000",
      "subTotal": 125.00,
      "total": 130.00,
      "tags": {
          "tagList": [
            "tag"
           ]
       },
      "metadata": {
        "createdDate": "2018-07-19T00:00:00.000+0000",
        "createdByUserId": "28d1057c-d137-11e8-a8d5-f2801f1b9fd1"
      }
    }
  ],
  "totalRecords": 1
}
