{
  "invoices": [
    {
      "id": "c0d08448-347b-418a-8c2f-5fb50248d67e",
      "accountingCode": "0206",
      "adjustments": [
        {
          "id": "14263aab-b22b-4ddc-9ecc-3434427c2c8f",
          "description": "Shipping",
          "exportToAccounting": false,
          "type": "Amount",
          "value": 4.50,
          "prorate": "By line",
          "relationToTotal": "In addition to"
        }
      ],
      "adjustmentsTotal": 4.50,
      "approvedBy": "ab18897b-0e40-4f31-896b-9c9adc979a88",
      "approvalDate": "2018-07-29T00:00:00.000+0000",
      "batchGroupId": "2a2cb998-1437-41d1-88ad-01930aaeadd5",
      "billTo": "1df71bab-818c-46ea-988b-a23676d91ae6",
      "chkSubscriptionOverlap": false,
      "currency": "USD",
      "enclosureNeeded" : false,
      "exchangeRate" : 1.092,
      "folioInvoiceNo": "123invoicenumber45",
      "invoiceDate": "2018-07-20T00:00:00.000+0000",
      "lockTotal": false,
      "note": "Some note",
      "paymentDue": "2018-08-29T00:00:00.000+0000",
      "paymentTerms": "Payment in Advance",
      "paymentMethod": "EFT",
      "status": "Approved",
      "source": "User",
      "subTotal": 45.35,
      "total": 49.85,
      "vendorInvoiceNo": "YK75851",
      "disbursementNumber": "58",
      "voucherNumber": "478",
      "paymentId": "a5065f0d-fb88-4d23-b0c1-57e754fba40e",
      "disbursementDate": "2018-08-19T00:00:00.000+0000",
      "poNumbers": [
        "AB268758XYZ"
      ],
      "vendorId": "168f8a63-d612-406e-813f-c7527f241ac3",
      "manualPayment": true,
      "tags": {
        "tagList": [
          "tag"
        ]
      },
      "acqUnitIds": [
        "1895e539-8dac-441e-b1f5-aab62b3fde60",
        "47f504bd-0c1b-498e-a2ae-e2f0a0cea273"
      ],
      "metadata": {
        "createdDate": "2018-07-19T00:00:00.000+0000",
        "createdByUserId": "28d1057c-d137-11e8-a8d5-f2801f1b9fd1"
      }
    }
  ],
  "totalRecords": 1
}
