{
  "strict": false,
  "value": "{\n  \"id\": \"7cef8378-7cbd-1fae-bcdd-8b9d7c0af9de\",\n  \"name\": \"Main Library\",\n  \"code\": \"MAIN-LIB\",\n  \"description\": \"This is the ledger for the Main Library\",\n  \"fiscalYearOneId\": \"d875618b-7cf5-442f-a823-9814e7bce92a\",\n  \"ledgerStatus\": \"Active\",\n  \"allocated\": 24500,\n  \"initialAllocation\": 11000,\n  \"allocationTo\": 13500,\n  \"allocationFrom\": 0,\n  \"available\": 21990,\n  \"netTransfers\": 2500,\n  \"unavailable\": 10,\n  \"expenditures\": 10,\n  \"encumbered\": 0,\n  \"awaitingPayment\": 0,\n  \"overEncumbrance\": 0,\n  \"overExpended\": 0,\n  \"totalFunding\": 22000,\n  \"cashBalance\": 21990,\n  \"currency\": \"USD\",\n  \"restrictEncumbrance\": false,\n  \"restrictExpenditures\": false,\n  \"acqUnitIds\": [\n    \"ac2164c7-ba3d-1bc2-912c-e35ceccbfaf2\"\n  ]\n}\n"
}