{
  "id": "47ac60b4-159d-4e1c-9acb-8293df67d16d",
  "budgetId": "47ac60b4-159d-4e1c-9acb-8293df67d16d",
  "ledgerRolloverId": "56ac60b4-122d-1e1c-9acb-8293df12d16d",
  "name": "History 2017",
  "fundDetails": {
    "id": "6e2fbba3-d557-4480-bca3-b6f5c645de04",
    "allocatedFromIds": [
      "1a490199-833d-4876-b2ff-2bd61f8324f1",
      "d69a001c-ac69-4348-bee1-f9f3ef8a3f32"
    ],
    "allocatedFromNames": [
        "Biology",
        "Mathematics"
    ],
    "allocatedToIds": [
      "c08a5b0c-6717-4788-9df5-b0e8338c1172"
    ],
    "allocatedToNames": [
        "Geography"
    ],
    "code": "HIST",
    "description": "Tracking fund for the History department",
    "externalAccountNo": "1121112569489",
    "fundStatus": "Active",
    "fundTypeId": "c93373df-e7ec-4d31-b200-719736610d89",
    "fundTypeName": "Approvals",
    "name": "History",
    "acqUnitIds": [
      "1895e539-8dac-441e-b1f5-aab62b3fde60",
      "47f504bd-0c1b-498e-a2ae-e2f0a0cea273"
    ]
  },
  "expenseClassDetails": [
    {
       "id": "9e662186-7d3e-4732-baaa-93967ccc597e",
       "expenseClassName": "Electronic",
       "expenseClassCode": "Elec",
       "expenseClassStatus": "Active",
       "encumbered": "30.05",
       "awaitingPayment": "0.0",
       "expended": "103.0",
       "percentageExpended": "51.5"
    }
  ],
  "budgetStatus": "Active",
  "allowableEncumbrance": 95,
  "allowableExpenditure": 100,
  "allocated": 20000,
  "netTransfers": 0,
  "awaitingPayment": 3500,
  "available": 10000,
  "encumbered": 2000,
  "expenditures": 4500,
  "unavailable": 10000,
  "overEncumbrance": 0,
  "overExpended": 0,
  "fundId": "172364c7-aaaa-10c2-b12c-e35ceccbfaf2",
  "fiscalYearId": "ac2164c7-ba3d-2bc2-a12c-e35ceccbfaf2",
  "acqUnitIds": [
    "7ec2ed06-0504-40dc-bc53-7515955ff0cb"
  ],
  "tags": {
    "tagList": [
      "important"
    ]
  },
  "metadata": {
    "createdDate": "2018-07-19T00:00:00.000+0000",
    "createdByUserId": "28d1057c-d137-11e8-a8d5-f2801f1b9fd1"
  }
}
