{
  "strict": false,
  "value": {
    "notes": [
      {
        "id": "62d00c36-a94f-434d-9cd2-c7ea159303da",
        "status": "ASSIGNED"
      },
      {
        "id": "12300c36-a94f-434d-9cd2-c7ea159303da",
        "status": "UNASSIGNED"
      }
    ]
  }
}