{
  "id": "d9cd0bed-1b49-4b5e-a7bd-064b8d177231",
  "name": "Example Loan Policy",
  "description": "An example loan policy",
  "loanable": true,
  "loansPolicy": {
    "profileId": "Rolling",
    "period": {
      "duration": 1,
      "intervalId": "Months"
    },
    "closedLibraryDueDateManagementId": "CURRENT_DUE_DATE",
    "gracePeriod": {
      "duration": 7,
      "intervalId": "Days"
    },
    "openingTimeOffset": {
      "duration": 2,
      "intervalId": "Weeks"
    },
    "fixedDueDateScheduleId": "",
    "itemLimit": 1000
  },
  "renewable": true,
  "renewalsPolicy": {
    "unlimited": true,
    "numberAllowed": 2,
    "renewFromId": "CURRENT_DUE_DATE",
    "differentPeriod": true,
    "period": {
      "duration": 30,
      "intervalId": "Days"
    },
    "alternateFixedDueDateScheduleId": ""
  },
  "requestManagement": {
    "recalls": {
      "alternateGracePeriod": {
        "duration": 1,
        "intervalId": "Months"
      },
      "minimumGuaranteedLoanPeriod": {
        "duration": 2,
        "intervalId": "Weeks"
      },
      "recallReturnInterval": {
        "duration": 3,
        "intervalId": "Days"
      },
      "alternateRecallReturnInterval": {
        "duration": 4,
        "intervalId": "Hours"
      }
    }
  },
  "holds": {
    "recalls": {
      "alternateCheckoutLoanPeriod": {
        "duration": 1,
        "intervalId": "Months"
      },
      "renewItemsWithRequest": true,
      "alternateRenewalLoanPeriod": {
        "duration": 2,
        "intervalId": "Weeks"
      }
    }
  },
  "pages": {
    "recalls": {
      "alternateCheckoutLoanPeriod": {
        "duration": 1,
        "intervalId": "Months"
      },
      "renewItemsWithRequest": true,
      "alternateRenewalLoanPeriod": {
        "duration": 2,
        "intervalId": "Weeks"
      }
    }
  }
}