{
  "notes": [
     {
       "id": "62d00c36-a94f-434d-9cd2-c7ea159303da",
       "type": "High Priority",
       "title" : "BU Campus Access Issues",
       "domain": "eholdings",
       "creator": {
         "lastName" : "Smith",
         "firstName": "Robin",
         "middleName": "H"
       },
       "updater": {
         "lastName" : "Jones",
         "firstName": "David",
         "middleName": "W"
       },
       "status" : "ASSIGNED",
       "metadata": {
         "createdDate" : "2019-03-28T01:54:17.855+0000",
         "createdByUserId" :"86c9f455-a685-45d0-9d01-5943a1ba7e5b",
         "createdByUsername" : "smithr",
         "updatedDate" : "2019-03-28T03:00:00.900+0000",
         "updatedByUserId" : "bdc2b6d4-5ceb-4a12-ab46-249b9a68473e",
         "updatedByUserName" : "jonesd"
       },
       "links": [
         {
           "id" : "583-2356521",
           "type": "package"
         },
         {
           "id" : "583-2356521-758038",
           "type": "resource"
         }
       ]
     }
  ],
  "totalRecords": 1
}
