{
  "strict": false,
  "value": "{\n  \"displaySummary\": \"Tutorial Volume 5\",\n  \"comment\": \"Special Edition\",\n  \"format\": \"Electronic\",\n  \"itemId\": \"522a501a-56b5-48d9-b28a-3a8f02482d97\",\n  \"locationId\": \"53cf956f-c1df-410b-8bea-27f712cca7c0\",\n  \"poLineId\": \"d471d766-8dbb-4609-999a-02681dea6c22\",\n  \"titleId\": \"9a665b22-9fe5-4c95-b4ee-837a5433c95d\",\n  \"displayOnHolding\": false,\n  \"enumeration\": \"Volume 1\",\n  \"chronology\": \"2021\",\n  \"barcode\": \"0987654111\",\n  \"accessionNumber\": \"2015.1\",\n  \"callNumber\": \"BF2050 .M335 1999\",\n  \"discoverySuppress\": false,\n  \"copyNumber\": \"94753\",\n  \"receivingStatus\": \"Claim delayed\",\n  \"supplement\": true,\n  \"receiptDate\": \"2018-10-11T00:00:00.000Z\",\n  \"claimingInterval\": 0,\n  \"internalNote\": \"Internal note for Send Claim action\",\n  \"externalNote\": \"External note for Send Claim action to share with Vendor\",\n  \"statusUpdatedDate\": \"2018-10-11T00:00:00.000Z\"\n}\n"
}