{
  "pieces":
    [
     {
        "id": "5e317dc2-deeb-4429-b2a1-91e5cd0fd5f7",
        "caption": "Tutorial Volume 1",
        "comment": "Special Edition",
        "format": "Electronic",
        "itemId": "522a501a-56b5-48d9-b28a-3a8f02482d97",
        "locationId": "53cf956f-c1df-410b-8bea-27f712cca7c0",
        "poLineId": "d471d766-8dbb-4609-999a-02681dea6c22",
        "titleId": "9a665b22-9fe5-4c95-b4ee-837a5433c95d",
        "receiptDate": "2020-01-10T00:00:00.000Z",
        "receivingStatus": "Expected",
        "supplement": true
     },
     {
        "id": "9ff85e44-a7e2-44b8-86e4-1ab8e9862f22",
        "caption": "Tutorial Volume 2",
        "comment": "Limited edition",
        "format": "Physical",
        "itemId": "fefa55b1-a4b3-4f2f-b7a0-39efd7cab54c",
        "locationId": "26241f60-5b96-4c10-9873-dcf4343691db",
        "poLineId": "3622bc51-d579-48e4-a1c7-1bcdea42be97",
        "titleId": "9a665b22-9fe5-4c95-b4ee-837a5433c95d",
        "receiptDate": "2018-10-11T00:00:00.000Z",
        "receivingStatus": "Received",
        "supplement": true,
        "receivedDate": "2018-10-10T00:00:00.000Z"
      },
      {
        "id": "fabc8ce7-e168-43e6-a079-b214231b8001",
        "caption": "Tutorial Volume 3",
        "comment": "Deluxe Edition",
        "format": "Other",
        "poLineId": "d471d766-8dbb-4609-999a-02681dea6c22",
        "titleId": "9a665b22-9fe5-4c95-b4ee-837a5433c95d",
        "receivingStatus": "Received",
        "supplement": true,
        "receiptDate": "2018-10-11T00:00:00.000Z",
        "receivedDate": "2018-10-10T00:00:00.000Z"
      }
    ],
  "totalRecords": 3
}
