{
  "strict": false,
  "value": "{\n  \"id\": \"5e317dc2-deeb-4429-b2a1-91e5cd0fd5f7\",\n  \"caption\": \"Tutorial Volume 5\",\n  \"comment\": \"Special Edition\",\n  \"format\": \"Electronic\",\n  \"itemId\": \"522a501a-56b5-48d9-b28a-3a8f02482d97\",\n  \"locationId\": \"53cf956f-c1df-410b-8bea-27f712cca7c0\",\n  \"poLineId\": \"d471d766-8dbb-4609-999a-02681dea6c22\",\n  \"titleId\": \"9a665b22-9fe5-4c95-b4ee-837a5433c95d\",\n  \"receivingStatus\": \"Expected\",\n  \"supplement\": true,\n  \"receiptDate\": \"2018-10-11T00:00:00.000Z\"\n}\n"
}