{
    "contacts": [
        {
            "id": "08e0eb27-b57f-4638-a703-9a2c57bd8708",
            "prefix": "Director",
            "firstName": "Nick",
            "lastName": "Fury",
            "language": "en-us",
            "notes": "SHIELD's Big Kahuna",
            "inactive": false,
            "phoneNumbers": [
             {
                 "phoneNumber": "19789999999",
                 "categories": [
                     "0e3f9680-ab06-4565-af64-609b7364e6eb",
                     "996ecd31-7ca4-4d8d-9bbf-bc94dff5f6c6"
                 ],
                 "language": "en-us",
                 "type": "Office",
                 "isPrimary": true
             }
            ],
            "emails": [
                {
                    "email": {
                        "value": "noreply@folio.org",
                        "description": "Main"
                    },
                    "categories": [
                        "112ae2e4-88ae-4fa5-a75b-2379d2035e52",
                        "56288fe8-8037-44da-8395-01d2d106dc54"
                    ],
                    "language": "en-us"
                }
            ],
            "addresses": [
                {
                    "address": {
                        "addressLine1": "10 Estes Street",
                        "addressLine2": "",
                        "city": "Ipswich",
                        "stateRegion": "MA",
                        "zipCode": "01938",
                        "country": "USA"
                    },
                    "categories": [
                        "0e3f9680-ab06-4565-af64-609b7364e6eb",
                        "996ecd31-7ca4-4d8d-9bbf-bc94dff5f6c6",
                        "112ae2e4-88ae-4fa5-a75b-2379d2035e52",
                        "56288fe8-8037-44da-8395-01d2d106dc54"
                    ],
                    "language": "en"
                }
            ],
            "urls": [
                {
                    "url": {
                        "value": "http://folio.org",
                        "description": ""
                    },
                    "language": "en-us",
                    "categories": [
                        "112ae2e4-88ae-4fa5-a75b-2379d2035e52",
                        "56288fe8-8037-44da-8395-01d2d106dc54"
                    ],
                    "notes": ""
                }
            ],
            "categories": [
                "08e0eb27-b57f-4638-a703-9a2c57bd8708",
                "a5da9c44-6619-403f-bd3b-f9bd2f63bc59",
                "da0272e4-7ff7-4ea8-9bc9-9d9cd5c81580",
                "ab18897b-0e40-4f31-896b-9c9adc979a88"
            ],
            "metadata": {
                "createdDate": "2018-05-19T00:00:00.000+0000",
                "createdByUserId": "16d1157c-d137-11e8-a8d5-f2801f1b9fd1"
            }
        }
    ],
    "totalRecords": 1
}
