{
  "id": "0804ddec-6545-404a-b54d-a693f505681d",
  "approved": true,
  "approvedById": "28d1057c-d137-11e8-a8d5-f2801f1b9fd1",
  "approvalDate": "2018-08-19T00:00:00.000Z",
  "assignedTo": "ab18897b-0e40-4f31-896b-9c9adc979a88",
  "billTo": "1df71bab-818c-46ea-988b-a23676d91ae6",
  "closeReason": {
    "reason": "Shipping delay",
    "note": "Two years is too long for shipping of 'Calendar for Year 2017'"
  },
  "dateOrdered": "2018-08-20T00:00:00.000+0000",
  "manualPo": false,
  "notes": [
    "ABCDEFGHIJKLMNO",
    "ABCDEFGHIJKLMNOPQRST",
    "ABCDEFGHIJKLMNOPQRSTUV"
  ],
  "orderType": "Ongoing",
  "poNumber": "AB268758XYZ",
  "poNumberPrefix": "AB",
  "poNumberSuffix": "XYZ",
  "reEncumber": false,
  "ongoing": {
    "interval": 182,
    "isSubscription": true,
    "manualRenewal": true,
    "notes" : "Some note",
    "reviewPeriod": 30,
    "renewalDate": "2019-04-09T00:00:00.000Z",
    "reviewDate" : "2019-03-09T00:00:00.000Z"
  },
  "shipTo": "0830111e-dcf1-4897-9eee-dcd1ab44adce",
  "template": "678323d2-3d86-4a69-8674-bbd4f8eecb33",
  "vendor": "168f8a86-d26c-406e-813f-c7527f241ac3",
  "workflowStatus": "Closed",
  "tags": {
    "tagList": [
      "important"
    ]
  },
  "acqUnitIds": [
    "1895e539-8dac-441e-b1f5-aab62b3fde60",
    "47f504bd-0c1b-498e-a2ae-e2f0a0cea273"
  ],
  "nextPolNumber": 1,
  "metadata": {
    "createdDate": "2018-08-19T00:00:00.000+0000",
    "createdByUserId": "28d1057c-d137-11e8-a8d5-f2801f1b9fd1"
  }
}
