{
  "strict": false,
  "value": "{\n  \"id\": \"118dbd8c-5ba0-47a9-a850-34bbb1dbf3b7\",\n  \"label\": \"important\",\n  \"description\": \"This is important stuff. Remove the tag if/when no longer important.\"\n}\n"
}