{
  "titles": [
    {
      "id": "9a665b22-9fe5-4c95-b4ee-837a5433c95d",
      "expectedReceiptDate": "2018-10-05T00:00:00.000Z",
      "title": "Sample Title",
      "poLineId": "c0d08448-347b-418a-8c2f-5fb50248d67e",
      "instanceId": "f1b57aeb-23c9-4386-bcb8-efda56878267",
      "contributors": [
        {
          "contributor": "Ed Mashburn",
          "contributorNameTypeId": "fbdd42a8-e47d-4694-b448-cc571d1b44c3"
        }
      ],
      "packageName": "Package sample",
      "poLineNumber": "268758-03",
      "publisher": "Schiffer Publishing",
      "publishedDate": "1972",
      "receivingNote": "ABCDEFGHIJKL",
      "edition": "Third Edt.",
      "subscriptionFrom": "2018-10-09T00:00:00.000Z",
      "subscriptionInterval": 824,
      "subscriptionTo": "2020-10-09T00:00:00.000Z",
      "isAcknowledged": true,
      "productIds": [
        {
          "productId": "9780764354113",
          "productIdType": "8261054f-be78-422d-bd51-4ed9f33c3422",
          "qualifier": "(paperback)"
        }
      ],
      "metadata": {
        "createdDate": "2018-07-19T00:00:00.000+0000",
        "createdByUserId": "28d1057c-d137-11e8-a8d5-f2801f1b9fd1"
      }
    }
  ],
  "totalRecords": 1
}
