{
  "strict": false,
  "value": "{\n  \"id\": \"c5732efb-9536-4a49-a22e-1ec6ca8a7922\",\n  \"amount\": 25,\n  \"awaitingPayment\": {\n    \"encumbranceId\": \"12ac70a4-5c9d-112f-9acb-852adf67d7e1\",\n    \"releaseEncumbrance\": \"true\"\n  },\n  \"currency\": \"USD\",\n  \"description\": \"PO_Line: History of Incas\",\n  \"fiscalYearId\": \"684b5dc5-92f6-4db7-b996-b549d88f5e4e\",\n  \"fromFundId\": \"7fbd5d84-62d1-44c6-9c45-6cb173998bbd\",\n  \"invoiceCancelled\": false,\n  \"source\": \"Invoice\",\n  \"sourceInvoiceId\": \"5925e966-f242-4842-9d5e-b33a651bb390\",\n  \"sourceInvoiceLineId\": \"ee60ee78-f487-4940-adcf-fa0726989823\",\n  \"transactionType\": \"Pending payment\",\n  \"metadata\": {\n    \"createdDate\": \"2020-01-09T20:53:43.984+0000\",\n    \"createdByUserId\": \"28d0fb04-d137-11e8-a8d5-f2801f1b9fd1\",\n    \"updatedDate\": \"2020-01-09T20:53:43.984+0000\",\n    \"updatedByUserId\": \"28d0fb04-d137-11e8-a8d5-f2801f1b9fd1\"\n  }\n}\n"
}