{
    "id": "588b5c42-8634-4af7-bc9b-5e0116ed96b6",
    "value": "http://folio.org",
    "description": "",
    "metadata": {
        "createdDate": "2019-06-08T00:00:00.000+0000",
        "createdByUserId": "12d2457c-d137-11e8-a8d5-f2802f1b9fd1"
    }
}
