{
  "id": "bf6c9ddc-ff82-40c4-be64-dd2414bdcd72",
  "label": "Data provider without aggregator",
  "harvestingConfig": {
    "harvestingStatus": "active",
    "harvestVia": "sushi",
    "sushiConfig": {
      "serviceType": "cs41",
      "serviceUrl": "http://myvendor.com"
    },
    "reportRelease": 4,
    "requestedReports": [
      "JR1",
      "TR1"
    ],
    "harvestingStart": "2018-01",
    "harvestingEnd": "2018-12"
  },
  "sushiCredentials": {
    "customerId": "12345def",
    "requestorId": "1234abcd",
    "apiKey": "678iuoi",
    "requestorName": "Karla Kolumna",
    "requestorMail": "kolumna@ub.uni-leipzig.de"
  },
  "earliestReport": "2017-01",
  "latestReport": "2017-12",
  "harvestingDate": "2020-01-22T13:26:40.687+0000",
  "notes": "This is a note!"
}
