{
  "strict": false,
  "value": "{\n  \"id\": \"0d6a9156-25b9-4bee-ab4d-dbb31afba0bd\",\n  \"userId\": \"11484f66-5121-43ea-81e7-6d9e3711495f\",\n  \"username\": \"folio_user\",\n  \"tenantId\": \"sfs000\"\n}\n"
}