{
    "id": "012510bd-db44-47f2-839d-2d72b28008f3",
    "configName": "PROFILE_PICTURE_CONFIG",
    "enabled": false,
    "enabledObjectStorage": false,
    "encryptionKey": "fgrdvbfgjhutyrdhvbcxzmturdhgtiok"
}
