Source: foliolib
Section: python
Priority: optional
Maintainer: Tobias Weber <tobi-weber@gmx.de>
Build-Depends:
 autopkgtest,
 debhelper-compat (= 13),
 dh-python,
 python3-all,
 python3-setuptools,
 python3-sphinx,
 python3-sphinx-copybutton,
 python3-sphinx-rtd-theme
Build-Depends-Indep:
 python3-requests,
 python3-inflection,
 python3-lxml,
 python3-github,
 python3-yaml,
 python3-magic,
 python3-click,
 python3-tabulate
Standards-Version: 4.5.0
Homepage: https://github.com/tobi-weber/foliolib

Package: python-foliolib-doc
Section: doc
Architecture: all
Depends:
 ${misc:Depends},
 ${sphinxdoc:Depends},
Description: Okapi/Folio Manager and Library
 .
 This package provides the documentation.

Package: python3-foliolib
Architecture: all
Depends:
 python3-requests,
 python3-inflection,
 python3-lxml,
 python3-yaml,
 python3-magic,
 python3-click,
 python3-tabulate,
 python3-setuptools
 python3-kubernetes,
 ${misc:Depends},
 ${python3:Depends},
Suggests:
 python-foliolib-doc,
Description: Okapi/Folio Manager and Library
 .
 This package contains the Python 3.x module.
